#ticket {
  width: 100%;
}

body {
  font-family: 'helvetica', sans-serif;
  margin: 0px;
  padding: 0px;
}

.receipt {
  padding: 4px 8px;
  width: 48mm;
  box-sizing: border-box;
  overflow: hidden;
}

.barcode-container {
  text-align: center;
  width: 100%;
}

.headerTitle {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
}

.location {
  margin-top: 5pt;
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
}

#date {
  margin: 2pt 0px;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}

#barcode {
  display: block;
  margin: 0px auto;
}

.keepIt {
  text-align: center;
  font-size: 11pt;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px dashed #000;
  margin: 3mm 0;
}